<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.DBMapper">

	<select id="getAll" resultType="com.example.model.Student">
		select * from TestDB
	</select>
	
	<insert id="insertDB">
		insert into TestDB values (#{name}, #{addr}, #{dmX}, #{dmY})
	</insert>
</mapper>